/* * {
    border: 2px solid red;
} */

body {
    justify-items: center;
}

#computerText {
    display: flex;
    margin-top: 300px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
}

#column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#computer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

#line {
    height: 2px;
    width: 150px;
    background-color: black;
}

#options {
    display: flex;
    gap: 75px;
    margin-top: 75px;
}

.choice {
    font-size: 20px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
}

#new {
    position: absolute;
    top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 125px;
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#winner {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    height: 40px;
    width: max-content;
    text-align: center;
}